<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Couch View</title>
    <link rel="stylesheet" href="styles/coachView.css">
</head>

<body>
    <h1>This is the coach view.</h1>
    <div class="Tech-Container">
        <form action="">
            <button>+</button>
            <input type="text" placeholder="Type Tech name">
        </form>
        <ul>
            <li>Test1</li>
            <li>Test2</li>
            <li>Test3</li>
            <li>Test4</li>
        </ul>
    </div>

    <div class="Options-Container">
        <form action="">
            <button>+</button>
            <input type="text" placeholder="Type Options">
        </form>
        <ul>
            <li>Test1</li>
            <li>Test2</li>
            <li>Test3</li>
            <li>Test4</li>
        </ul>
    </div>

</body>

</html>