<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Command Center</title>
</head>

<body>
    <div class="CommandCenter-Container">
        <header>
            <h1>Command Center</h1>
        </header>
        <main>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem quisquam molestiae quae fuga
                accusamus quasi id nisi. Aliquid nesciunt accusantium sint, saepe beatae blanditiis impedit ducimus
                officiis enim unde omnis!</p>
        </main>
    </div>

</body>

</html>