<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SA Dashboard</title>
</head>

<script>
    $.get("/AllJobListMethod", data => {
        console.log("All jobs Data:", data)
        RenderNewJobResult(data);
        return

    });

    const NewJobMethodSuccess = (result) => {
        console.log("call back result", result);
        RenderNewJobResult(result);
        document.getElementById("UnassignedContainer").style.display = "none";
        document.getElementById("PreScreenContainer").style.display = "none"
        return
    }


    const RenderNewJobResult = (data) => {
        $('#NewJobList').empty();
        console.log("API Data", data.result)
        $.each(data.result, function (i, v) {
            console.log(i, v.name);

            $(`
            <li id="CardItemContainer${v.jobStatusId}">
                <header>
                    <div class="JobStatusDotIcon" style="background-color: ${v.jobStatusColor};"></div>
                    <p  id="SelectedJobStatusColor${v.jobStatusId}">${v.jobStatusColor}</p>
                    <h1 id="SelectedJobStatus${v.jobStatusId}">${v.jobStatus}</h1>
                </header>
                <main>
                    <h2 id="SelectedName${v.jobStatusId}"> ${v.name}</h2>
                    <h2 id="${v.jobStatusId}"> ${v.phoneNumber}</h2>
                    <h2 id="${v.jobStatusId}"> ${v.address}</h2>
                    <h2 id="SelectedServiceJobNumber${v.jobStatusId}"> ${v.serviceJobNumber}</h2>
                    <h2 id="${v.jobStatusId}"> ${v.serviceAdvocateName}</h2>


                </main>
                <button id="${v.jobStatusId}" onclick="JobSelectedHandler(event)"></button>

            </li>

            `).prependTo("#NewJobList");

        })
    };

    const JobSelectedHandler = (e) => {
        console.log("JobSelectedHandler was called")
        console.log("SelectedJobStatus" + e.target.id)

        document.getElementById("CardItemContainer" + e.target.id).style.maxWidth = "280px";


        let jsonData = {
            jobStatusId: e.target.id,
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("CardJobSelectedMethod", "Home")',
            data: jsonData,
        });




        if (document.getElementById("SelectedJobStatus" + e.target.id).innerText === "unassigned") {
            alert("Needs pre-screening");
            return
        }


        $('#DisplayJobData').empty();
        $(`
                    <div id="DisplayJobStatusColor${e.target.id}" class="JobStatusDotIcon">
                    </div>
                    <h2 id="DisplayJobStatus"></h2>

                    <h2 id="DisplayName"></h2>
                    <h2 id="DisplayServiceJobNumber"></h2>

                `).prependTo("#DisplayJobData");



        document.getElementById("DisplayJobStatusColor" + e.target.id).style.backgroundColor = document.getElementById("SelectedJobStatusColor" + e.target.id).innerText;

        document.getElementById("DisplayJobStatus").innerText = document.getElementById("SelectedJobStatus" + e.target.id).innerText;



        document.getElementById("DisplayName").innerText = document.getElementById("SelectedName" + e.target.id).innerText;
        document.getElementById("DisplayServiceJobNumber").innerText = document.getElementById("SelectedServiceJobNumber" + e.target.id).innerText;



        $.ajax({
            type: "GET",
            url: '@Url.Action("GetAllJobCommentsMethod", "Home")',
            data: jsonData,
                    @* success: NewJobMethodSuccess, *@
                });


    }




</script>

<body>
    <p>SA Dashboard</p>
    <button onclick="GetUnassignedListHandler(event)">Unassigned</button>
    <div class="AllJobs-Container">
        <ul id="NewJobList"></ul>
        <main id="DisplayJobData"></main>

        <partial name="components/JobComments" />
    </div>
</body>

</html>