<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/DashboardAdmin.css?version=2.0">
    <script src="~/js/DashboardAdmin.js?version=2.0" async=""></script>

    <title>Admin Dashboard</title>
</head>

<script>

    const DataGeneratorHandler = (e) => {
        e.preventDefault();
        console.log("GeneratorBTN was click")

        @* Service *@
            let ServiceJobNumber = document.getElementById("apiServiceJobNumber").value;
        let SamsungJobNumber = document.getElementById("apiSamsungJobNumber").value;
        let InWarranty = document.getElementById("apiInWarranty").value;
        @* Customer Info *@
            let Name = document.getElementById("apiName").value;
        let Address = document.getElementById("apiAddress").value;
        let City = document.getElementById("apiCity").value;
        let State = document.getElementById("apiState").value;
        let Zipcode = document.getElementById("apiZipcode").value;
        let PhoneNumber = document.getElementById("apiPhoneNumber").value;
        let Email = document.getElementById("apiEmail").value;
        @* Proudct*@
            let ProductLine = document.getElementById("apiProductLine").value;
        let ModelNumber = document.getElementById("apiModelNumber").value;
        let SerialNumber = document.getElementById("apiSerialNumber").value;
        @* User Assigned *@
            let TwoManJob = document.getElementById("apiTwoManJob").value;
        let TechName = document.getElementById("apiTechName").value;
        let SAName = document.getElementById("apiSAName").value;
        let SecondPersonName = document.getElementById("apiSecondPersonName").value;
        @* Appointment Info *@
            let AppointmentDay = document.getElementById("apiAppointmentDay").value;
        let AppointmentTime = document.getElementById("apiAppointmentTime").value;
        let AppointmentWindow = document.getElementById("apiAppointmentWindow").value;
        let SpecialInstructions = document.getElementById("apiSpecialInstructions").value;
        let NumberOfContactMade = document.getElementById("apiNumberOfContactMade").value;
        let NumberOfTimesReschedual = document.getElementById("apiNumberOfTimesReschedual").value;
        @* Maket Info *@
            let Market = document.getElementById("apiMarket").value;
        let MarketCode = document.getElementById("apiMarketCode").value;
        @* Job Status *@
            let ServiceStatus = document.getElementById("apiServiceStatus").value;
        let JobStatus = document.getElementById("apiJobStatus").value;
        let JobStatusColor = document.getElementById("apiJobStatusColor").value;
        let Rework = document.getElementById("apiRework").value;
        let ForceBook = document.getElementById("apiForceBook").value;

        let jsonData = {
            serviceJobNumber: ServiceJobNumber,
            samsungJobNumber: SamsungJobNumber,
            inWarranty: InWarranty,

            name: Name,
            address: Address,
            city: City,
            state: State,
            zipcode: Zipcode,
            phoneNumber: PhoneNumber,

            productLine: ProductLine,
            modelNumber: ModelNumber,
            serialNumber: SerialNumber,

            twoManJob: TwoManJob,
            techName: TechName,
            sAName: SAName,
            secondPersonName: SecondPersonName,

            appointmentDay: AppointmentDay,
            appointmentTime: AppointmentTime,
            appointmentWindow: AppointmentWindow,
            specialInstructions: SpecialInstructions,
            numberOfContactMade: NumberOfContactMade,
            numberOfTimesReschedual: NumberOfTimesReschedual,

            market: Market,
            marketCode: MarketCode,

            serviceStatus: ServiceStatus,
            jobStatus: JobStatus,
            jobStatusColor: JobStatusColor,
            rework: Rework,
            forceBook: ForceBook
        }
        console.log(jsonData, "JsonData")

        $.ajax({
            type: "POST",
            url: '@Url.Action("DataGeneratorMethod", "Home")',
            data: jsonData,
            success: DataGeneratorMethodSuccess,
        });


    }

    const DataGeneratorMethodSuccess = (result) => {
        console.log("call back result", result);
    }

</script>

<body class="Registration-Contatiner">
    <h1>Admin Dashboard</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit libero necessitatibus officiis dolorem
        aliquid iure beatae optio delectus natus iusto provident veniam debitis nulla, labore aperiam, voluptate
        dignissimos, dolor amet?</p>
    <button onclick="FakeDataGeneratorHandler(event)">Generate Fake Data</button>

    <form action="">
        <button onclick="DataGeneratorHandler(event)">Add Data</button>
        <h2>Service</h2>
        <input type="text" id="apiServiceJobNumber">
        <input type="text" id="apiSamsungJobNumber">
        <input type="text" id="apiInWarranty">
        <h2>Customer Info</h2>
        <input type="text" id="apiName">
        <input type="text" id="apiAddress">
        <input type="text" id="apiCity">
        <input type="text" id="apiState" value="Kansas">
        <input type="text" id="apiZipcode">
        <input type="text" id="apiPhoneNumber">
        <input type="text" id="apiEmail">
        <h2>Product</h2>
        <input type="text" id="apiProductLine">
        <input type="text" id="apiModelNumber">
        <input type="text" id="apiSerialNumber">
        <h2>User Assigned</h2>
        <input type="text" id="apiTwoManJob" value="flase">
        <input type="text" id="apiTechName">
        <input type="text" id="apiSAName">
        <input type="text" id="apiSecondPersonName">
        <h2>Appointment Info</h2>
        <input type="date" id="apiAppointmentDay">
        <input type="time" id="apiAppointmentTime">
        <input type="text" id="apiAppointmentWindow" placeholder="AM PM">
        <input type="text" id="apiSpecialInstructions" placeholder="Special Instructions">
        <input type="text" id="apiNumberOfContactMade" value="0">
        <input type="text" id="apiNumberOfTimesReschedual" value="0">
        <h2>Market Info</h2>
        <input type="text" id="apiMarket" value="Kansas City">
        <input type="text" id="apiMarketCode" value="BF455">
        <h2>Job Status</h2>
        <input type="text" id="apiServiceStatus" value="Accepted">
        <input type="text" id="apiJobStatus" value="unassigned">
        <input type="text" id="apiJobStatusColor" value="#00A7D1">
        <input type="text" id="apiRework">
        <input type="text" id="apiForceBook">
    </form>

</body>

</html>