<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SA Dashboard</title>
</head>

<script>
    $.get("/AllJobListMethod", data => {
        console.log("All jobs Data:", data)
        RenderNewJobResult(data);
        return

    });


    const NewJobMethodSuccess = (result) => {
        console.log("call back result", result);
        RenderNewJobResult(result);
        document.getElementById("UnassignedContainer").style.display = "none";
        document.getElementById("PreScreenContainer").style.display = "none"
        return
    }


    const RenderNewJobResult = (data) => {
        $('#NewJobList').empty();
        console.log("API Data", data.result)
        $.each(data.result, function (i, v) {
            console.log(i, v.name);

            $(`
            <li id="CardItemContainer${v.jobStatusId}">
                <header>
                    <div class="JobStatusDotIcon" style="background-color: #${v.jobStatusColor};"></div>
                    <p  id="SelectedJobStatusColor${v.jobStatusId}">${v.jobStatusColor}</p>
                    <h1 id="SelectedJobStatus${v.jobStatusId}">${v.jobStatus}</h1>
                </header>
                <main>
                    <h2 class="hidden" id="SelectedServiceJobNumber${v.jobStatusId}"> ${v.serviceJobNumber}</h2>

                    <h2 id="SelectedName${v.jobStatusId}"> ${v.name}</h2>
                    <h2 id="SelectedAddress${v.jobStatusId}">${v.address}</h2>
                    <h2 id="SelectedPhoneNumber${v.jobStatusId}"> ${v.phoneNumber}</h2>

                    <h2 id="SelectedServicesAdvocate${v.jobStatusId}">Assigned to: ${v.serviceAdvocateName}</h2>

                    <h2 class="hidden" id="SelectedAptDate${v.jobStatusId}"> ${v.appointmentDay}</h2>
                    <h2 class="hidden" id="SelectedAptWindow${v.jobStatusId}"> ${v.appointmentWindow}</h2>

                <h2 class="hidden" id="SelectedSpecialInstructions${v.jobStatusId}"> ${v.specialInstructions}</h2>


                </main>
                <button id="${v.jobStatusId}" onclick="JobSelectedHandler(event)"></button>

            </li>

            `).prependTo("#NewJobList");

        })
    };

    const CardClickedHandler = (cardId) => {
        console.log("CardClickedHandler was called and running", cardId)
        function getCookie() {
            let lastCardSelected = "lastcardSelected=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(lastCardSelected) == 0) {
                    console.log("get lastCardSelected from cookies", c);

                    return c.substring(lastCardSelected.length, c.length);
                }

            }

            return "";
        }

        let lastcardSelected = getCookie("lastcardSelected");
        console.log("lastcardSelected", lastcardSelected);

        const ItemSelected = cardId
        console.log("Current Item:", ItemSelected);

        document.cookie = "lastcardSelected" + "=" + ItemSelected + ";";

        document.getElementById("CardItemContainer" + lastcardSelected).style.width = "300px";
        document.getElementById("CardItemContainer" + lastcardSelected).style.transform = "ease-in-out";
        document.getElementById("CardItemContainer" + lastcardSelected).style.borderRadius = "0px";
        document.getElementById("CardItemContainer" + lastcardSelected).style.transition = ".3s";


        document.getElementById("CardItemContainer" + cardId).style.width = "90%";
        document.getElementById("CardItemContainer" + cardId).style.transform = "ease-in-out";
        document.getElementById("CardItemContainer" + cardId).style.borderRadius = "7px 0 0 7px";
        document.getElementById("CardItemContainer" + cardId).style.transition = ".3s";


        return
    }

    const SelectedSectionHandler = (e) => {
        console.log(e.target.id);

        if (e.target.id === "ServiceSection") {
            document.getElementById("ServiceContainer").style.height = "50vh";

            document.getElementById("PartsSection").style.height = "25px";
            document.getElementById("PartsSectionP").style.display = "none";


            document.getElementById("StatusHistorySection").style.height = "25px";
            document.getElementById("StatusHistorySectionP").style.display = "none";


            document.getElementById("EscalationSection").style.height = "25px";
            document.getElementById("EscalationSectionP").style.display = "none";

            return

        }

        if (e.target.id === "PartsSection") {
            document.getElementById("ServiceContainer").style.height = "25px";

            document.getElementById("PartsSection").style.height = "70vh";
            document.getElementById("PartsSectionP").style.display = "block";

            document.getElementById("StatusHistorySection").style.height = "25px";
            document.getElementById("StatusHistorySectionP").style.display = "none";

            document.getElementById("EscalationSection").style.height = "25px";
            document.getElementById("EscalationSectionP").style.display = "none";
            return


        }


        if (e.target.id === "StatusHistorySection") {
            document.getElementById("ServiceContainer").style.height = "25px";

            document.getElementById("PartsSection").style.height = "25px";
            document.getElementById("PartsSectionP").style.display = "none";

            document.getElementById("StatusHistorySection").style.height = "70vh";
            document.getElementById("StatusHistorySectionP").style.display = "block";

            document.getElementById("EscalationSection").style.height = "25px";
            document.getElementById("EscalationSectionP").style.display = "none";

            return

        }

        if (e.target.id === "EscalationSection") {
            document.getElementById("ServiceContainer").style.height = "25px";

            document.getElementById("PartsSection").style.height = "25px";
            document.getElementById("PartsSectionP").style.display = "none";

            document.getElementById("StatusHistorySection").style.height = "25px";
            document.getElementById("StatusHistorySectionP").style.display = "none";

            document.getElementById("EscalationSection").style.height = "70vh";
            document.getElementById("EscalationSectionP").style.display = "block";

            return

        }
    }

    const JobSelectedHandler = (e) => {
        console.log("JobSelectedHandler was called")
        console.log("SelectedJobStatus" + e.target.id)

        CardClickedHandler(e.target.id);

        @* let allCookies = document.cookie;
                console.log("cookies for card selected", allCookies); *@


            let jsonData = {
                jobStatusId: e.target.id,
            }

        $.ajax({
            type: "POST",
            url: '@Url.Action("CardJobSelectedMethod", "Home")',
            data: jsonData,
        });




        if (document.getElementById("SelectedJobStatus" + e.target.id).innerText === "unassigned") {
            alert("Needs pre-screening");
            return
        }

        document.getElementById("DisplayJobData").style.display = "grid";
        $('#DisplayJobData').empty();
        $(`

                <header>
                    <aside>
                        <div id="DisplayJobStatusColor${e.target.id}" class="JobStatusDotIcon"></div>
                        <h2 id="DisplayJobStatus" onclick="JobStatusUpdateHandler(event)"></h2>
                    </aside>
                </header>

                <section class="Service-Container" id="ServiceContainer">
                    <h1 id="ServiceSection" onclick="SelectedSectionHandler(event)">Service</h1>
                    <h1 id="ServiceSection" onclick="SelectedSectionHandler(event)">Accepted</h1>


                    <h2 class="Span2Columns">Customer</h2>
                    <h3 id="DisplayName"></h3>
                    <h3 id="DisplayPhoneNumber"></h3>
                    <h3 class="Span2Columns" id="DisplayAddress"></h3>

                    <h2 class="Span2Columns">Appoiment Details</h2>
                    <h3 id="DisplayAptDate"></h3>
                    <h3 id="DisplayAptTime"></h3>

                    <h2 class="Span2Columns">Job Details</h2>
                    <h3>In Warrnty</h3>
                    <h3>41687923</h3>
                    <h3 id="DisplayServiceJobNumber"></h3>


                    <h2 class="Span2Columns">Special Instructions</h2>
                    <textarea id="DisplaySpecialInstructions" class="Span2Columns" cols="30" rows="10"></textarea>
                </section>

                <section>
                    <h1  id="PartsSection" onclick="SelectedSectionHandler(event)">Parts</h1>
                    <p id="PartsSectionP" class="hidden">render parts data related to the SNWQ or 416 number</p>
                </section>

                <section>
                    <h1  id="StatusHistorySection" onclick="SelectedSectionHandler(event)">Status History</h1>
                    <p id="StatusHistorySectionP" class="hidden">render job status history data related to the SNWQ</p>

                </section>

                <section>
                    <h1  id="EscalationSection" onclick="SelectedSectionHandler(event)">Escalation Team</h1>
                    <p id="EscalationSectionP" class="hidden">render escalation status data related to the SNWQ</p>
                </section>


                `).prependTo("#DisplayJobData");



        let colorSelect = document.getElementById("SelectedJobStatusColor" + e.target.id).innerText;
        console.log("Color value", colorSelect)

        document.getElementById("DisplayJobStatusColor" + e.target.id).style.backgroundColor = "#" + colorSelect;

        document.getElementById("DisplayJobStatus").innerText = document.getElementById("SelectedJobStatus" + e.target.id).innerText;



        document.getElementById("DisplayName").innerText = document.getElementById("SelectedName" + e.target.id).innerText;

        document.getElementById("DisplayServiceJobNumber").innerText = document.getElementById
            ("SelectedServiceJobNumber" + e.target.id).innerText;

        document.getElementById("DisplayPhoneNumber").innerText = document.getElementById("SelectedPhoneNumber" + e.target.id).innerText;

        document.getElementById("DisplayAddress").innerText = document.getElementById("SelectedAddress" + e.target.id).innerText;

        document.getElementById("DisplayAptDate").innerText = document.getElementById("SelectedAptDate" + e.target.id).innerText;
        document.getElementById("DisplayAptTime").innerText = document.getElementById("SelectedAptWindow" + e.target.id).innerText;

        document.getElementById("DisplaySpecialInstructions").innerText = document.getElementById("SelectedSpecialInstructions" + e.target.id).innerText;



        document.getElementById("CommentBox").style.display = "block";
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetAllJobCommentsMethod", "Home")',
            data: jsonData,
            success: JobCommentMethodSuccess,
        });


    }


    const GetFiltertHandler = (e) => {

        $.get("/AllJobStatusMethod", data => {
            console.log("getting jobs Data:", data)
            RenderJobStatusFilter(data);
            return

        });
        document.getElementById("JobStatusFilterContainer").style.display = "grid";
    }




</script>

<body>

    <nav class="NavOptions-Container">
        <button onclick="GetUnassignedListHandler(event)">Unassigned</button>
        <button onclick="GetFiltertHandler(event)">Filter</button>
        <button onclick="MapHandler(event)">Map</button>


    </nav>


    <div class="AllJobs-Container">

        <header>
            <ul id="NewJobList"></ul>
            <partial name="components/JobSearch" />

        </header>

        <main id="JobMainInfo">

            @* <div id="JobContentContainer"> *@
            <div class="DisplayJobData-Container" id="DisplayJobData">

            </div>
            <partial name="components/JobStatusOptions" />
            @* </div> *@


        </main>
        <partial name="components/map" />

        <partial name="components/JobStatusFilter" />
        <partial name="components/JobComments" />
        <partial name="components/UserInJobMarket" />

    </div>
</body>

</html>