<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Command Center</title>
</head>

<body>
    <div class="CommandCenter-Container">
        <header>
            <h1>Command Center</h1>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad harum quasi, optio accusantium atque in
                cumque corrupti debitis quod vitae repudiandae laudantium est autem blanditiis cum eos quas, quae
                expedita!</p>
            <nav>
                <ul>
                    <li>
                        <button>Markets</button>
                    </li>
                    <li>
                        <button>Tirage</button>
                    </li>
                    <li>
                        <button>Roles</button>
                    </li>
                </ul>
            </nav>

        </header>
        <main>
            <div>
                <partial name="FormMarket" />
            </div>
            <div>
                <partial name="FormProvingQuestions" />
            </div>
            <div>
                <partial name="FormRoles" />
            </div>

        </main>
    </div>

</body>

</html>