<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SA Dashboard</title>
</head>

<script>
    $.get("/AllJobListMethod", data => {
        console.log("All jobs Data:", data)
        RenderNewJobResult(data);
        return

    });



</script>

<body>
    <h1>SA Dashboard</h1>
    <button onclick="GetUnassignedListHandler(event)">Unassigned</button>
    <div class="AllJobs-Container">
        <ul id="NewJobList"></ul>
        <main>
            Here is the main
        </main>
    </div>
</body>

</html>