<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triage Dashboard</title>
</head>

<body>
    <h1>Triage Dashboard</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nulla corporis architecto odit? Laudantium, amet
        rem fugiat unde neque quia minus fuga ipsam deserunt, explicabo rerum sequi, illum voluptas ea.1</p>

</body>

</html>