<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SA Dashboard</title>
</head>

<script>
    $.get("/AllJobListMethod", data => {
        console.log("All jobs Data:", data)
        RenderNewJobResult(data);
        return

    });

    const NewJobMethodSuccess = (result) => {
        console.log("call back result", result);
        RenderNewJobResult(result);
        document.getElementById("UnassignedContainer").style.display = "none";
        document.getElementById("PreScreenContainer").style.display = "none"
        return
    }


    const RenderNewJobResult = (data) => {
        $('#NewJobList').empty();
        console.log("API Data", data.result)
        $.each(data.result, function (i, v) {
            console.log(i, v.name);

            $(`
            <li id="CardItemContainer${v.jobStatusId}">
                <header>
                    <div class="JobStatusDotIcon" style="background-color: #${v.jobStatusColor};"></div>
                    <p  id="SelectedJobStatusColor${v.jobStatusId}">${v.jobStatusColor}</p>
                    <h1 id="SelectedJobStatus${v.jobStatusId}">${v.jobStatus}</h1>
                </header>
                <main>
                    <h2 id="SelectedName${v.jobStatusId}"> ${v.name}</h2>
                    <h2 id="${v.jobStatusId}"> ${v.phoneNumber}</h2>
                    <h2 id="${v.jobStatusId}"> ${v.address}</h2>
                    <h2 id="SelectedServiceJobNumber${v.jobStatusId}"> ${v.serviceJobNumber}</h2>
                    <h2 id="${v.jobStatusId}"> ${v.serviceAdvocateName}</h2>


                </main>
                <button id="${v.jobStatusId}" onclick="JobSelectedHandler(event)"></button>

            </li>

            `).prependTo("#NewJobList");

        })
    };

    const CardClickedHandler = (cardId) => {
        console.log("CardClickedHandler was called and running", cardId)
        function getCookie() {
            let lastCardSelected = "lastcardSelected=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(lastCardSelected) == 0) {
                    console.log("get lastCardSelected from cookies", c);

                    return c.substring(lastCardSelected.length, c.length);
                }

            }

            return "";
        }

        let lastcardSelected = getCookie("lastcardSelected");
        console.log("lastcardSelected", lastcardSelected);

        const ItemSelected = cardId
        console.log("Current Item:", ItemSelected);

        document.cookie = "lastcardSelected" + "=" + ItemSelected + ";";

        document.getElementById("CardItemContainer" + lastcardSelected).style.width = "300px";
        document.getElementById("CardItemContainer" + lastcardSelected).style.transform = "ease-in-out";
        document.getElementById("CardItemContainer" + lastcardSelected).style.borderRadius = "0px";
        document.getElementById("CardItemContainer" + lastcardSelected).style.transition = ".3s";


        document.getElementById("CardItemContainer" + cardId).style.width = "90%";
        document.getElementById("CardItemContainer" + cardId).style.transform = "ease-in-out";
        document.getElementById("CardItemContainer" + cardId).style.borderRadius = "7px 0 0 7px";
        document.getElementById("CardItemContainer" + cardId).style.transition = ".3s";


        return
    }

    const JobSelectedHandler = (e) => {
        console.log("JobSelectedHandler was called")
        console.log("SelectedJobStatus" + e.target.id)

        CardClickedHandler(e.target.id);

        @* let allCookies = document.cookie;
                console.log("cookies for card selected", allCookies); *@


            let jsonData = {
                jobStatusId: e.target.id,
            }

        $.ajax({
            type: "POST",
            url: '@Url.Action("CardJobSelectedMethod", "Home")',
            data: jsonData,
        });




        if (document.getElementById("SelectedJobStatus" + e.target.id).innerText === "unassigned") {
            alert("Needs pre-screening");
            return
        }


        $('#DisplayJobData').empty();
        $(`
                    <div id="DisplayJobStatusColor${e.target.id}" class="JobStatusDotIcon">
                    </div>
                    <h2 id="DisplayJobStatus" onclick="JobStatusUpdateHandler(event)" ></h2>

                    <h2 id="DisplayName"></h2>
                    <h2 id="DisplayServiceJobNumber"></h2>

                `).prependTo("#DisplayJobData");



        let colorSelect = document.getElementById("SelectedJobStatusColor" + e.target.id).innerText;
        console.log("Color value", colorSelect)

        document.getElementById("DisplayJobStatusColor" + e.target.id).style.backgroundColor = "#" + colorSelect;
        document.getElementById("DisplayJobStatus").innerText = document.getElementById("SelectedJobStatus" + e.target.id).innerText;



        document.getElementById("DisplayName").innerText = document.getElementById("SelectedName" + e.target.id).innerText;
        document.getElementById("DisplayServiceJobNumber").innerText = document.getElementById("SelectedServiceJobNumber" + e.target.id).innerText;


        document.getElementById("CommentBox").style.display = "block";
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetAllJobCommentsMethod", "Home")',
            data: jsonData,
            success: JobCommentMethodSuccess,
        });


    }


    const GetFiltertHandler = (e) => {

        $.get("/AllJobStatusMethod", data => {
            console.log("getting jobs Data:", data)
            RenderJobStatusFilter(data);
            return

        });
        document.getElementById("JobStatusFilterContainer").style.display = "grid";
    }




</script>

<body>

    <nav class="NavOptions-Container">
        <button onclick="GetUnassignedListHandler(event)">Unassigned</button>
        <button onclick="GetFiltertHandler(event)">Filter</button>

    </nav>


    <div class="AllJobs-Container">

        <header>
            <ul id="NewJobList"></ul>
            <partial name="components/JobSearch" />

        </header>

        <main>

            @* <div id="JobContentContainer"> *@
            <section id="DisplayJobData"></section>
            <partial name="components/JobStatusOptions" />
            @* </div> *@


        </main>
        <partial name="components/JobStatusFilter" />
        <partial name="components/JobComments" />
    </div>
</body>

</html>