<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Command Center</title>
    <script async>


        const MarketSucessHandler = (result) => {
            RenderMarketList(result);
            return
        }


        const RoleSucessHandler = (result) => {
            RenderRole(result);
            console.log("Roles", result)
            return
        }
        const CommandCenterNavHandler = (e) => {

            if (e.target.innerText === "Markets") {
                document.getElementById("MarketWraper").style.display = "grid"
                document.getElementById("ProbingQuestionsWrapper").style.display = "none"
                document.getElementById("RolesWrapper").style.display = "none"
                document.getElementById("JobStatusWrapper").style.display = "none"
                return
            };

            if (e.target.innerText === "Roles") {
                document.getElementById("MarketWraper").style.display = "none"
                document.getElementById("ProbingQuestionsWrapper").style.display = "none"
                document.getElementById("RolesWrapper").style.display = "grid"
                document.getElementById("JobStatusWrapper").style.display = "none"
                return
            };

            if (e.target.innerText === "Triage") {
                document.getElementById("MarketWraper").style.display = "none"
                document.getElementById("ProbingQuestionsWrapper").style.display = "grid"
                document.getElementById("RolesWrapper").style.display = "none"
                document.getElementById("JobStatusWrapper").style.display = "none"
                return
            };

            if (e.target.innerText === "Job Status") {
                document.getElementById("MarketWraper").style.display = "none"
                document.getElementById("ProbingQuestionsWrapper").style.display = "none"
                document.getElementById("RolesWrapper").style.display = "none"
                document.getElementById("JobStatusWrapper").style.display = "grid"
                return
            };
        }

        const CommandCenterFormHandler = (e) => {
            e.preventDefault();

            if (e.target.innerText === "+ Role") {
                console.log("runnning code for roles ")
                let CallMethod = "RoleMethod";

                let Role = document.getElementById("UserRole").value;
                let jsonData = {
                    title: Role,

                }
                console.log(jsonData, "JsonData")
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("RoleMethod", "Home")',
                    data: jsonData,
                    success: RoleSucessHandler,
                });


                @* JsonDataFunction(jsonDataRole, CallMethod); Need to implement later *@
        return;
            };

            if (e.target.innerText === "+ Market") {
                console.log("runnning code for market ")

                let MarketLocation = document.getElementById("MarketLocation").value;
                let MarketCode = document.getElementById("MarketCode").value;

                let jsonData = {
                    location: MarketLocation,
                    markerCode: MarketCode,

                }

                console.log("Market added", jsonData);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("MarketMethod", "Home")',
                    data: jsonData,
                    success: MarketSucessHandler,
                });


                return
            };


            if (e.target.innerText === "+ Job Status") {
                console.log("run code for job status ")

                let JobStatusName = document.getElementById("JobStatusName").value;
                let JobStatusColor = document.getElementById("JobStatusColor").value;

                let jsonData = {
                    status: JobStatusName,
                    statusColor: JobStatusColor,

                }
                console.log("Job Status added", jsonData);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("NewJobStatusMethod", "Home")',
                    data: jsonData,
                    success: MarketSucessHandler,
                });

                return
            };





        }
    </script>

</head>


<body>
    <div class="CommandCenter-Container">
        <header>
            <h1>Command Center</h1>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad harum quasi, optio accusantium atque in
                cumque corrupti debitis quod vitae repudiandae laudantium est autem blanditiis cum eos quas, quae
                expedita!</p>
            <nav>
                <ul>
                    <li>
                        <button onclick="CommandCenterNavHandler(event)">Markets</button>
                    </li>
                    <li>
                        <button onclick="CommandCenterNavHandler(event)">Roles</button>
                    </li>
                    <li>
                        <button onclick="CommandCenterNavHandler(event)">Job Status</button>
                    </li>

                    <li>
                        <button onclick="CommandCenterNavHandler(event)">Triage</button>
                    </li>
                </ul>
            </nav>

        </header>
        <main>
            <div id="MarketWraper">
                <partial name="FormMarket" />
            </div>
            <div class="hidden" id="ProbingQuestionsWrapper">
                <partial name="FormProvingQuestions" />
            </div>
            <div class="hidden" id="RolesWrapper">
                <partial name="FormRoles" />
            </div>

            <div class="hidden" id="JobStatusWrapper">
                <partial name="FormJobStatus" />
            </div>

        </main>
    </div>

</body>

</html>