<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Dashboard</title>
</head>

<body>
    <h1>Tech Dashboard</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ad quam vero nobis enim, consequatur aliquid modi
        corrupti labore? Dolore, ipsa obcaecati placeat aliquid sint dolorem saepe illum laudantium in.</p>

</body>

</html>