<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Command Center</title>
</head>

<script>
    const CommandCenterNavHandler = (e) => {

        if (e.target.innerText === "Markets") {
            document.getElementById("MarketWraper").style.display = "grid"
            document.getElementById("ProbingQuestionsWrapper").style.display = "none"
            document.getElementById("RolesWrapper").style.display = "none"
            return
        };

        if (e.target.innerText === "Roles") {
            document.getElementById("MarketWraper").style.display = "none"
            document.getElementById("ProbingQuestionsWrapper").style.display = "none"
            document.getElementById("RolesWrapper").style.display = "grid"
            return
        };

        if (e.target.innerText === "Triage") {
            document.getElementById("MarketWraper").style.display = "none"
            document.getElementById("ProbingQuestionsWrapper").style.display = "grid"
            document.getElementById("RolesWrapper").style.display = "none"
            return
        };

    }
</script>

<body>
    <div class="CommandCenter-Container">
        <header>
            <h1>Command Center</h1>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad harum quasi, optio accusantium atque in
                cumque corrupti debitis quod vitae repudiandae laudantium est autem blanditiis cum eos quas, quae
                expedita!</p>
            <nav>
                <ul>
                    <li>
                        <button onclick="CommandCenterNavHandler(event)">Markets</button>
                    </li>
                    <li>
                        <button onclick="CommandCenterNavHandler(event)">Roles</button>
                    </li>
                    <li>
                        <button onclick="CommandCenterNavHandler(event)">Triage</button>
                    </li>
                </ul>
            </nav>

        </header>
        <main>
            <div id="MarketWraper">
                <partial name="FormMarket" />
            </div>
            <div class="hidden" id="ProbingQuestionsWrapper">
                <partial name="FormProvingQuestions" />
            </div>
            <div class="hidden" id="RolesWrapper">
                <partial name="FormRoles" />
            </div>

        </main>
    </div>

</body>

</html>