<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SA Dashboard</title>
</head>

<script>
    $.get("/AllJobListMethod", data => {
        console.log("All jobs Data:", data)
        RenderNewJobResult(data);
        return

    });

    const NewJobMethodSuccess = (result) => {
        console.log("call back result", result);
        RenderNewJobResult(result);
        document.getElementById("UnassignedContainer").style.display = "none";
        document.getElementById("PreScreenContainer").style.display = "none"
        return
    }


    const RenderNewJobResult = (data) => {
        $('#NewJobList').empty();
        console.log("API Data", data.result)
        $.each(data.result, function (i, v) {
            console.log(i, v.name);

            $(`
            <li>
                <header>
                    <div class="JobStatusDotIcon" style="background-color: ${v.jobStatusColor};"></div>
                    <p  id="SelectedJobStatusColor${v.jobStatusId}">${v.jobStatusColor}</p>
                    <h1 id="SelectedJobStatus${v.jobStatusId}">${v.jobStatus}</h1>
                </header>
                <main>
                    <h2 id="SelectedName${v.jobStatusId}"> ${v.name}</h2>
                    <h2 id="${v.jobStatusId}"> ${v.phoneNumber}</h2>
                    <h2 id="${v.jobStatusId}"> ${v.address}</h2>
                    <h2 id="SelectedServiceJobNumber${v.jobStatusId}"> ${v.serviceJobNumber}</h2>
                    <h2 id="${v.jobStatusId}"> ${v.serviceAdvocateName}</h2>


                </main>
                <button id="${v.jobStatusId}" onclick="JobSelectedHandler(event)"></button>

            </li>

            `).prependTo("#NewJobList");



        })
    };

    const JobSelectedHandler = (e) => {
        console.log("JobSelectedHandler was called")
        console.log("SelectedJobStatus" + e.target.id)


        @* Session *@
            let jsonData = {
                jobStatusId: e.target.id,
            }

        $.ajax({
            type: "POST",
            url: '@Url.Action("CardJobSelectedMethod", "Home")',
            data: jsonData,
                    @* success: NewJobMethodSuccess, *@
                });

    if (document.getElementById("SelectedJobStatus" + e.target.id).innerText === "unassigned") {
        alert("Needs pre-screening");
        return
    }


    $('#DisplayJobData').empty();
    $(`
                <div id="DisplayJobStatusColor${e.target.id}" class="JobStatusDotIcon">
                </div>
                <h2 id="DisplayJobStatus"></h2>

                <h2 id="DisplayName"></h2>
                <h2 id="DisplayServiceJobNumber"></h2>

            `).prependTo("#DisplayJobData");



    document.getElementById("DisplayJobStatusColor" + e.target.id).style.backgroundColor = document.getElementById("SelectedJobStatusColor" + e.target.id).innerText;

    document.getElementById("DisplayJobStatus").innerText = document.getElementById("SelectedJobStatus" + e.target.id).innerText;



    document.getElementById("DisplayName").innerText = document.getElementById("SelectedName" + e.target.id).innerText;
    document.getElementById("DisplayServiceJobNumber").innerText = document.getElementById("SelectedServiceJobNumber" + e.target.id).innerText;




    }

    const CommentBoxHandler = (e) => {
        console.log("input was selected")
        document.getElementById("CommentBox").style.height = "140px";
        @* document.getElementById("CommentSaveBTN").style.display = "block"; *@
    }

    const CommenSaveBTNHandler = (e) => {
        console.log("input was selected")
        document.getElementById("CommentSaveBTN").style.display = "block";
        document.getElementById("CommentCancelBTN").style.display = "block";


    }

    const SaveCommetHandler = (e) => {
        e.preventDefault();
        if (e.target.innerText == "Save") {
            console.log("SaveCommetHandler on dashboard SA was called");
        }

        if (e.target.innerText === "Cancel") {
            console.log("CancelCommetHandler on dashboard SA was called");
            document.getElementById("CommentSaveBTN").style.display = "none";
            document.getElementById("CommentCancelBTN").style.display = "none";
            document.getElementById("CommentBox").style.height = "20px";
            document.getElementById("CommentBox").value = "";


        }
    }



</script>

<body>
    <p>SA Dashboard</p>
    <button onclick="GetUnassignedListHandler(event)">Unassigned</button>
    <div class="AllJobs-Container">
        <ul id="NewJobList"></ul>
        <main id="DisplayJobData"></main>
        <footer>
            <form action="">
                <textarea onclick="CommentBoxHandler(event)" onkeydown="CommenSaveBTNHandler()" id="CommentBox"
                    type="text" placeholder="+ comment" cols="30" rows="10"></textarea>
                <footer>
                    <button id="CommentSaveBTN" onclick="SaveCommetHandler(event)">Save</button>
                    <button id="CommentCancelBTN" onclick="SaveCommetHandler(event)">Cancel</button>
                </footer>

            </form>
            <ul id="JobCommitList">
                <li>
                    <header>
                        <h2>SA || Luis.Cardona</h2>
                    </header>
                    <main>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor veritatis ab, maxime ullam
                            eius aut pariatur quod mollitia officia dolore ea! Dicta ullam in, quos sit quod explicabo
                            eos sint.</p>
                    </main>
                </li>

                <li>
                    <header>
                        <h2>SA || Luis.Cardona</h2>
                    </header>
                    <main>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor veritatis ab, maxime ullam
                            eius aut pariatur quod mollitia officia dolore ea! Dicta ullam in, quos sit quod explicabo
                            eos sint.</p>
                    </main>
                </li>
            </ul>
        </footer>
    </div>
</body>

</html>