<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/DashboardAdmin.css?version=2.0">
    <script src="~/js/DashboardAdmin.js?version=2.0" async=""></script>

    <title>Admin Dashboard</title>
</head>


<body class="Registration-Contatiner">


    <h1>Admin Dashboard</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit libero necessitatibus officiis dolorem
        aliquid iure beatae optio delectus natus iusto provident veniam debitis nulla, labore aperiam, voluptate
        dignissimos, dolor amet?</p>
    <button onclick="FakeDataGeneratorHandler(event)">Generate Fake Data</button>

    <form action="">
        <h2>Service</h2>
        <input type="text" id="apiServiceJobNumber">
        <input type="text" id="apiSamsungJobNumber">
        <input type="text" id="apiInWarranty">
        <h2>Customer Info</h2>
        <input type="text" id="apiName">
        <input type="text" id="apiAddress">
        <input type="text" id="apiCity">
        <input type="text" id="apiState" value="Kansas">
        <input type="text" id="apiZipecode">
        <input type="text" id="apiPhoneNumber">
        <input type="text" id="apiEmail">
        <h2>Product</h2>
        <input type="text" id="apiProductLine">
        <input type="text" id="apiModelNumber">
        <input type="text" id="apiSerialNumber">
        <h2>User Assigned</h2>
        <input type="text" id="apiTwoManJob">
        <input type="text" id="apiTechName">
        <input type="text" id="apiSAName">
        <input type="text" id="apiSecondPersonName">
        <h2>Appointment Info</h2>
        <input type="date" id="apiAppointmentDay">
        <input type="date" id="apiAppointmentTime">
        <input type="text" id="apiAppointmentWindow" placeholder="AM PM">
        <input type="text" id="apiSpecialInstructions" placeholder="Special Instructions">
        <input type="text" id="apiNumberOfContactMade" value="0">
        <input type="text" id="apiNumberOfTimesReschedual" value="0">
        <h2>Market Info</h2>
        <input type="text" id="apiMarket" value="Kansas City">
        <input type="text" id="apiMarketCode" value="BF455">
        <h2>Job Status</h2>
        <input type="text" id="apiServiceStatus" value="Accepted">
        <input type="text" id="apiJobStatus" value="unassigned">
        <input type="text" id="apiJobStatusColor" value="#00A7D1">
        <input type="text" id="apiRework">
        <input type="text" id="apiForceBook">




    </form>

</body>

</html>