<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Status</title>
</head>

<body>
    <div>
        <header>
            <h1>Job Status</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse, cum impedit. Provident quibusdam corporis
                dolorem nulla vitae voluptatum, ut voluptatem dignissimos quod, dolore eligendi atque corrupti,
                laudantium
                odio cumque optio?</p>
        </header>

        <main>
            <form action="">
                <input type="text" placeholder="Job Status Name">
                <input type="text" placeholder="Job Status Color">
                <button onclick="CommandCenterFormHandler(event)">+ Job Status</button>
            </form>
        </main>
    </div>
</body>

</html>