<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Proving Questions</title>
</head>

<body>

    <div class="FormProbingQuestions-Container">
        <header>
            <h1>Probing Questions</h1>
        </header>

        <main>
            <form action="">
                <input type="text" placeholder="Appliance">
                <button>+ Appliance</button>
            </form>
        </main>

    </div>

</body>

</html>