<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Status</title>


    <script async>

        const RenderJobStatus = (data) => {

            $('#JobStatusList').empty();
            console.log("JobStatus Data", data.result)
            $.each(data.result, function (i, v) {
                console.log(i, v.name);

                $(`
            <li id="${v.jobStatusId}">

                    <p id="${v.jobStatusId}"> ${v.status}</p>
                    <p id="${v.jobStatusId}"> ${v.statusColor}</p>
                    <div class="JobStatusIcon" style="background-color: #${v.statusColor};"></div>



            </li>

            `).prependTo("#JobStatusList");

            })

        }
    </script>
</head>

<body>
    <div>
        <header>
            <h1>Job Status</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse, cum impedit. Provident quibusdam corporis
                dolorem nulla vitae voluptatum, ut voluptatem dignissimos quod, dolore eligendi atque corrupti,
                laudantium
                odio cumque optio?</p>


        </header>

        <main>
            <form action="">
                <input id="JobStatusName" type="text" placeholder="Job Status Name">
                <input id="JobStatusColor" type="text" placeholder="Job Status Color">
                <button onclick="CommandCenterFormHandler(event)">+ Job Status</button>
            </form>
        </main>

        <aside>
            <ul id="JobStatusList"></ul>
        </aside>
    </div>
</body>

</html>