<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Proving Questions</title>
</head>

<body>

    <head>
        <h1>Proving questions</h1>
    </head>

    <main>
        <form action="">
            <input type="text" placeholder="Appliance">
            <button>+ Appliance</button>
        </form>
    </main>

</body>

</html>