<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maket Form</title>
</head>

<body>

    <div class="FormMarket">

        <main>
            <h2>Markets</h2>
            <form action="">
                <input id="MarketLocation" type="text" placeholder="Market Location">
                <input id="MarketCode" type="text" placeholder="Market Code">
                <button onclick="CommandCenterFormHandler(event)">+ Market</button>
            </form>
        </main>

    </div>

</body>

</html>