<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pre-Screen</title>
</head>

<script>
    const PreScreenOutcomeHandler = (e) => {
        console.log(e.target.options[e.target.selectedIndex].text)

        console.log(e.target.options)

        document.getElementById("JobStatusPSF").value = e.target.options[e.target.selectedIndex].text;


        if (e.target.options[e.target.selectedIndex].text === "Onsite Diagnoses") {
            document.getElementById("JobStatusColorPSF").value = "519E8A";
            return
        }

        if (e.target.options[e.target.selectedIndex].text === "Unsuccessful Pre-Screen") {
            document.getElementById("JobStatusColorPSF").value = "8E6C88";
            return
        }

        if (e.target.options[e.target.selectedIndex].text === "Order Parts") {
            document.getElementById("JobStatusColorPSF").value = "EAC435";
            return
        }

        if (e.target.options[e.target.selectedIndex].text === "Sent To Triage") {
            document.getElementById("JobStatusColorPSF").value = "E4572E";
            return
        }

    }

    const NewAptDateHandler = (e) => {
        console.log(e.target.value)
        document.getElementById("AppointmentDayPSF").value = e.target.value;
        let userSeesion = '<%=Session["UserInSeesion"] %>';
        console.log(userSeesion)


    }

    const UserInMarketSuccess = (result) => {
        console.log("Users in Market", result);
        RenderUserInMarket(result);

    }

    const PreScreeenMethodSuccess = (result) => {
        console.log("Results after pre-screen", result);
        console.log("Last Market Code Screen", result.lastMarketCodePreScreen);
        console.log("Last Market name", result.marketName);
        document.getElementById("UsersMarket").innerText = result.marketName;

        RenderNewJobResult(result);
        document.getElementById("PreScreenContainer").style.display = "none";
        document.getElementById("UserInMarketContainer").style.display = "grid";

        let jsonData = {
            marketCode: result.lastMarketCodePreScreen,

        }

        $.ajax({
            type: "Get",
            url: '@Url.Action("GetUserInMarket", "Home")',
            data: jsonData,
            success: UserInMarketSuccess,
        });
    }



    const NewJobHandler = (e) => {
        e.preventDefault();
        console.log("NewJobHandler button was click")

        @* Service *@
            let ServiceJobNumber = document.getElementById("ServiceJobNumberPSF").value;
        let SamsungJobNumber = document.getElementById("SamsungJobNumberPSF").value;
        let InWarranty = document.getElementById("InWarrantyPSF").value;
        @* Customer Info *@
            let Name = document.getElementById("NamePSF").value;
        let Address = document.getElementById("AddressPSF").value;
        let City = document.getElementById("CityPSF").value;
        let State = document.getElementById("StatePSF").value;
        let Zipcode = document.getElementById("ZipcodePSF").value;
        let PhoneNumber = document.getElementById("PhoneNumberPSF").value;
        let Email = document.getElementById("EmailPSF").value;
        @* Proudct*@
            let ProductLine = document.getElementById("ProductLinePSF").value;
        let ModelNumber = document.getElementById("ModelNumberPSF").value;
        let SerialNumber = document.getElementById("SerialNumberPSF").value;
        @* User Assigned *@
            let TwoManJob = document.getElementById("TwoManJobPSF").value;
        let TechName = document.getElementById("TechNamePSF").value;
        let SAName = document.getElementById("SANamePSF").value;
        let SecondPersonName = document.getElementById("SecondPersonNamePSF").value;
        @* Appointment Info *@
            let AppointmentDay = document.getElementById("AppointmentDayPSF").value;
        let AppointmentTime = document.getElementById("AppointmentTimePSF").value;
        let AppointmentWindow = document.getElementById("AppointmentWindowPSF").value;
        let SpecialInstructions = document.getElementById("SpecialInstructionsPSF").value;
        let NumberOfContactMade = document.getElementById("NumberOfContactMadePSF").value;
        let NumberOfTimesReschedual = document.getElementById("NumberOfTimesReschedualPSF").value;
        @* Maket Info *@
            let Market = document.getElementById("MarketPSF").value;
        let MarketCode = document.getElementById("MarketCodePSF").value;
        @* Job Status *@
            let ServiceStatus = document.getElementById("ServiceStatusPSF").value;
        let JobStatus = document.getElementById("JobStatusPSF").value;
        let JobStatusColor = document.getElementById("JobStatusColorPSF").value;
        let Rework = document.getElementById("ReworkPSF").value;
        let ForceBook = document.getElementById("ForceBookPSF").value;

        let jsonData = {
            serviceJobNumber: ServiceJobNumber,
            samsungJobNumber: SamsungJobNumber,
            inWarranty: InWarranty,

            name: Name,
            address: Address,
            city: City,
            state: State,
            zipcode: Zipcode,
            phoneNumber: PhoneNumber,

            productLine: ProductLine,
            modelNumber: ModelNumber,
            serialNumber: SerialNumber,

            twoManJob: TwoManJob,
            techName: TechName,
            sAName: SAName,
            secondPersonName: SecondPersonName,

            appointmentDay: AppointmentDay,
            appointmentTime: AppointmentTime,
            appointmentWindow: AppointmentWindow,
            specialInstructions: SpecialInstructions,
            numberOfContactMade: NumberOfContactMade,
            numberOfTimesReschedual: NumberOfTimesReschedual,

            market: Market,
            marketCode: MarketCode,

            serviceStatus: ServiceStatus,
            jobStatus: JobStatus,
            jobStatusColor: JobStatusColor,
            rework: Rework,
            forceBook: ForceBook
        }
        console.log(jsonData, "JsonData")

        $.ajax({
            type: "POST",
            url: '@Url.Action("PreScreenJobMethod", "Home")',
            data: jsonData,
            success: PreScreeenMethodSuccess,
        });

    }




</script>

<body>
    <div id="PreScreenContainer" class="PreScreen-Container">
        <main>
            <div class="PreScreenLayout">
                <main>
                    <h2 onclick="PreScreenHandler(event)">&#60; Job Details</h2>
                    <form action="">

                        <section class="PreScreenHeader-Container">
                            <div>
                                <h3>Customer</h3>
                                <input id="NamePSF" type="text">
                            </div>

                            <div>
                                <h3>Product-Service</h3>
                                <input id="ProductLinePSF" type="text">
                            </div>

                        </section>

                        <section id="ConfirmAddress">
                            <div class="Address-Container">
                                <h3>Inform cx call maybe recorded for quality and training.</h3>
                                <h3>Confirm Address</h3>
                                <address>
                                    <input id="AddressPSF" type="text">
                                    <input id="CityPSF" type="text">
                                    <input id="StatePSF" type="text">
                                    <input id="ZipcodePSF" type="text">
                                </address>
                            </div>

                        </section>


                        <section id="ModelSerialNumber">
                            <h3>Confirm warranty</h3>
                            <input id="InWarrantyPSF" type="text">

                            <h3>Confirm model number and serial number</h3>
                            <input id="ModelNumberPSF" type="text">
                            <input id="SerialNumberPSF" type="text">

                        </section>

                        <section id="ProvingQuestions" class="ProvingQuestions-Container">
                            <h3>Asked proving questions.</h3>
                            <aside>
                                <textarea id="SpecialInstructionsPSF" type="text" cols="30" rows="10"></textarea>
                            </aside>
                        </section>

                        <section id="AppointmentOutcome">

                            <h3>Set an appointment date.</h3>
                            <input type="date" onchange="NewAptDateHandler(event)">
                            <h3>Outcome</h3>

                            <select name="" id="" onchange="PreScreenOutcomeHandler(event)">
                                <option value="SelectOutcome">Select Outcome</option>
                                <option value="OnsiteDiagnoses">Onsite Diagnoses</option>
                                <option value="UnsuccessfulPreScreen">Unsuccessful Pre-Screen</option>
                                <option value="OrderParts">Order Parts</option>
                                <option value="SentToTriage">Sent To Triage</option>
                            </select>
                        </section>

                        <footer class="PreScreen-Actions">
                            <p id="DidCxAnswer">Did the customer answer?</p>
                            <div id="ActionOptions1" class="ActionOptions-Container">
                                <button id="Action1" onclick="PreScreenActionsHandler(event)">no</button>
                                <button id="Action2" onclick="PreScreenActionsHandler(event)">yes</button>
                            </div>

                            <div id="ActionOptions2" class="ActionOptions-Container">
                                <button id="Action3" onclick="PreScreenActionsHandler(event)">back</button>
                                <button id="Action4" onclick="PreScreenActionsHandler(event)">next</button>
                            </div>


                            <div id="ActionOptions3" class="ActionOptions-Container">
                                <button id="Action5" onclick="PreScreenActionsHandler(event)">back</button>
                                <button id="Action6" onclick="PreScreenActionsHandler(event)">next</button>
                            </div>


                            <div id="ActionOptions4" class="ActionOptions-Container">
                                <button id="Action7" onclick="PreScreenActionsHandler(event)">back</button>
                                <button id="Action8" onclick="PreScreenActionsHandler(event)">next</button>
                            </div>


                            <div id="ActionOptions5" class="ActionOptions-Container">
                                <button id="Action9" onclick="PreScreenActionsHandler(event)">back</button>
                                @* <button id="Action10" onclick="PreScreenActionsHandler(event)">Submit</button> *@
                                <button onclick="NewJobHandler(event)">Submit</button>

                            </div>
                        </footer>


                        <input class="hidden" id="ServiceJobNumberPSF" type="text">
                        <input class="hidden" id="SamsungJobNumberPSF" type="text">
                        <input class="hidden" id="MarketCodePSF" type="text">


                        <input class="hidden" id="PhoneNumberPSF" type="text">
                        <input class="hidden" id="EmailPSF" type="text">


                        @* <div class="hidden"> *@
                        <h3 class="hidden">User Assigned</h3>
                        <input class="hidden" id="TwoManJobPSF" type="text">
                        <input class="hidden" id="TechNamePSF" type="text">
                        <input class="hidden" id="SANamePSF" type="text">
                        <input class="hidden" id="SecondPersonNamePSF" type="text">

                        <h3 class="hidden">Appoinment Info</h3>
                        <input class="hidden" id="AppointmentDayPSF" type="text">
                        <input class="hidden" id="AppointmentTimePSF" type="text">
                        <input class="hidden" id="AppointmentWindowPSF" type="text">
                        <input class="hidden" id="NumberOfContactMadePSF" type="text">
                        <input class="hidden" id="NumberOfTimesReschedualPSF" type="text">

                        <h3 class="hidden">Market Info</h3>
                        <input class="hidden" id="MarketPSF" type="text">

                        <h3 class="hidden">Market Info</h3>
                        <input class="hidden" id="ServiceStatusPSF" type="text">
                        <input class="hidden" id="JobStatusPSF" type="text">
                        <input class="hidden" id="JobStatusColorPSF" type="text">
                        <input class="hidden" id="ReworkPSF" type="text">
                        <input class="hidden" id="ForceBookPSF" type="text">

                        @* </div> *@
                    </form>

                </main>

                <aside>
                    <h2>Progress</h2>
                    <div class="PreScreenQuestions">
                        <ul>
                            <li>
                                <input type="checkbox">
                                <h3>Greeted the customer and confirm appliance.</h3>

                            </li>
                            <li>
                                <input type="checkbox">
                                <h3>Inform cx call maybe recorded for quality and training. </h3>
                            </li>
                            <li>
                                <input type="checkbox">
                                <h3>Confirm customer service and shipping address. </h3>
                            </li>
                            <li>
                                <input type="checkbox">
                                <h3>Confirm customer warranty .</h3>
                            </li>

                            <li>
                                <input type="checkbox">
                                <h3>Confirm Model and serial #.</h3>
                            </li>
                            <li>
                                <input type="checkbox">
                                <h3>Asked proving questions.</h3>
                            </li>

                            <li>
                                <input type="checkbox">
                                <h3>Set an appointment date.</h3>
                            </li>


                        </ul>
                    </div>

                </aside>
            </div>

        </main>
    </div>

</body>

</html>