<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pre-Screen</title>
</head>

<script>
    const PreScreenOutcomeHandler = (e) => {
        console.log(e.target.options[e.target.selectedIndex].text)

        console.log(e.target.options)

        document.getElementById("JobStatusPSF").value = e.target.options[e.target.selectedIndex].text;


        if (e.target.options[e.target.selectedIndex].text === "Onsite Diagnoses") {
            document.getElementById("JobStatusColorPSF").value = "#519E8A";
            return
        }

        if (e.target.options[e.target.selectedIndex].text === "Unsuccessful Pre-Screen") {
            document.getElementById("JobStatusColorPSF").value = "#8E6C88";
            return
        }

        if (e.target.options[e.target.selectedIndex].text === "Order Parts") {
            document.getElementById("JobStatusColorPSF").value = "#EAC435";
            return
        }

        if (e.target.options[e.target.selectedIndex].text === "Sent To Triage") {
            document.getElementById("JobStatusColorPSF").value = "#E4572E";
            return
        }

    }

    const NewAptDateHandler = (e) => {
        console.log(e.target.value)
        document.getElementById("AppointmentDayPSF").value = e.target.value;
        let userSeesion = '<%=Session["UserInSeesion"] %>';
        console.log(userSeesion)


    }

    const NewJobHandler = (e) => {
        e.preventDefault();
        console.log("NewJobHandler button was click")

        @* Service *@
            let ServiceJobNumber = document.getElementById("ServiceJobNumberPSF").value;
        let SamsungJobNumber = document.getElementById("SamsungJobNumberPSF").value;
        let InWarranty = document.getElementById("InWarrantyPSF").value;
        @* Customer Info *@
            let Name = document.getElementById("NamePSF").value;
        let Address = document.getElementById("AddressPSF").value;
        let City = document.getElementById("CityPSF").value;
        let State = document.getElementById("StatePSF").value;
        let Zipcode = document.getElementById("ZipcodePSF").value;
        let PhoneNumber = document.getElementById("PhoneNumberPSF").value;
        let Email = document.getElementById("EmailPSF").value;
        @* Proudct*@
            let ProductLine = document.getElementById("ProductLinePSF").value;
        let ModelNumber = document.getElementById("ModelNumberPSF").value;
        let SerialNumber = document.getElementById("SerialNumberPSF").value;
        @* User Assigned *@
            let TwoManJob = document.getElementById("TwoManJobPSF").value;
        let TechName = document.getElementById("TechNamePSF").value;
        let SAName = document.getElementById("SANamePSF").value;
        let SecondPersonName = document.getElementById("SecondPersonNamePSF").value;
        @* Appointment Info *@
            let AppointmentDay = document.getElementById("AppointmentDayPSF").value;
        let AppointmentTime = document.getElementById("AppointmentTimePSF").value;
        let AppointmentWindow = document.getElementById("AppointmentWindowPSF").value;
        let SpecialInstructions = document.getElementById("SpecialInstructionsPSF").value;
        let NumberOfContactMade = document.getElementById("NumberOfContactMadePSF").value;
        let NumberOfTimesReschedual = document.getElementById("NumberOfTimesReschedualPSF").value;
        @* Maket Info *@
            let Market = document.getElementById("MarketPSF").value;
        let MarketCode = document.getElementById("MarketCodePSF").value;
        @* Job Status *@
            let ServiceStatus = document.getElementById("ServiceStatusPSF").value;
        let JobStatus = document.getElementById("JobStatusPSF").value;
        let JobStatusColor = document.getElementById("JobStatusColorPSF").value;
        let Rework = document.getElementById("ReworkPSF").value;
        let ForceBook = document.getElementById("ForceBookPSF").value;

        let jsonData = {
            serviceJobNumber: ServiceJobNumber,
            samsungJobNumber: SamsungJobNumber,
            inWarranty: InWarranty,

            name: Name,
            address: Address,
            city: City,
            state: State,
            zipcode: Zipcode,
            phoneNumber: PhoneNumber,

            productLine: ProductLine,
            modelNumber: ModelNumber,
            serialNumber: SerialNumber,

            twoManJob: TwoManJob,
            techName: TechName,
            sAName: SAName,
            secondPersonName: SecondPersonName,

            appointmentDay: AppointmentDay,
            appointmentTime: AppointmentTime,
            appointmentWindow: AppointmentWindow,
            specialInstructions: SpecialInstructions,
            numberOfContactMade: NumberOfContactMade,
            numberOfTimesReschedual: NumberOfTimesReschedual,

            market: Market,
            marketCode: MarketCode,

            serviceStatus: ServiceStatus,
            jobStatus: JobStatus,
            jobStatusColor: JobStatusColor,
            rework: Rework,
            forceBook: ForceBook
        }
        console.log(jsonData, "JsonData")

    }
</script>

<body>
    <div id="PreScreenContainer" class="PreScreen-Container">
        <main>
            <div class="PreScreenLayout">
                <section>
                    <h2 onclick="PreScreenHandler(event)">&#60; Job Details</h2>
                    <form action="">
                        <h3>Service</h3>
                        <input id="ServiceJobNumberPSF" type="text">
                        <input id="SamsungJobNumberPSF" type="text">
                        <input id="InWarrantyPSF" type="text">

                        <h3>Customer Info</h3>
                        <input id="NamePSF" type="text">
                        <input id="AddressPSF" type="text">
                        <input id="CityPSF" type="text">
                        <input id="StatePSF" type="text">
                        <input id="ZipcodePSF" type="text">
                        <input id="PhoneNumberPSF" type="text">
                        <input id="EmailPSF" type="text">

                        <h3>Product</h3>
                        <input id="ProductLinePSF" type="text">
                        <input id="ModelNumberPSF" type="text">
                        <input id="SerialNumberPSF" type="text">
                        @* <div class="hidden"> *@
                        <h3>User Assigned</h3>
                        <input id="TwoManJobPSF" type="text">
                        <input id="TechNamePSF" type="text">
                        <input id="SANamePSF" type="text">
                        <input id="SecondPersonNamePSF" type="text">

                        <h3>Appoinment Info</h3>
                        <input id="AppointmentDayPSF" type="text">
                        <input id="AppointmentTimePSF" type="text">
                        <input id="AppointmentWindowPSF" type="text">
                        <input id="NumberOfContactMadePSF" type="text">
                        <input id="NumberOfTimesReschedualPSF" type="text">

                        <h3>Market Info</h3>
                        <input id="MarketPSF" type="text">
                        <input id="MarketCodePSF" type="text">

                        <h3>Market Info</h3>
                        <input id="ServiceStatusPSF" type="text">
                        <input id="JobStatusPSF" type="text">
                        <input id="JobStatusColorPSF" type="text">
                        <input id="ReworkPSF" type="text">
                        <input id="ForceBookPSF" type="text">

                        @* </div> *@
                    </form>

                </section>

                <section>
                    <h2>Click Options</h2>
                </section>

                <section>
                    <h2>Pre-screen</h2>
                    <div class="PreScreenQuestions">
                        <ul>
                            <li>
                                <input type="checkbox">
                                <h3>Greeted the customer.</h3>
                                <p id="span2">Hello, my name is SA name with Asurion Appliance Repair regarding
                                    your Samsung appliance repair. Am I speaking with Customer Name.</p>
                            </li>
                            <li>
                                <input type="checkbox">
                                <h3>Inform cx call maybe recorded for quality and training. </h3>
                            </li>
                            <li>
                                <input type="checkbox">
                                <h3>Confirm customer service and shipping address. </h3>
                            </li>
                            <li>
                                <input type="checkbox">
                                <h3>Confirm customer appliance and warranty .</h3>
                            </li>
                            <li>
                                <input type="checkbox">
                                <h3>Asked proving questions.</h3>
                            </li>
                            <aside>
                                <textarea id="SpecialInstructionsPSF" type="text" cols="30" rows="10"></textarea>

                            </aside>
                            <li>
                                <input type="checkbox">
                                <h3>Confirm Model and serial #.</h3>
                            </li>


                            <li>
                                <input type="checkbox">
                                <h3>Set an appointment date. <input type="date" onchange="NewAptDateHandler(event)">
                                </h3>


                            </li>

                            <footer>
                                <select name="" id="" onchange="PreScreenOutcomeHandler(event)">

                                    <option value="SelectOutcome">Select Outcome</option>
                                    <option value="OnsiteDiagnoses">Onsite Diagnoses</option>
                                    <option value="UnsuccessfulPreScreen">Unsuccessful Pre-Screen</option>
                                    <option value="OrderParts">Order Parts</option>
                                    <option value="SentToTriage">Sent To Triage</option>
                                </select>

                                <button onclick="NewJobHandler(event)">Submit</button>

                            </footer>
                        </ul>
                    </div>

                </section>
            </div>

        </main>
    </div>

</body>

</html>