<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pre-Screen</title>
</head>

<body>
    <div id="PreScreenContainer" class="PreScreen-Container">
        <main>
            <div class="PreScreenLayout">
                <section>
                    <h2 onclick="PreScreenHandler(event)">&#60; Job Details</h2>
                    <form action="">
                        <h3>Service</h3>
                        <input type="text">
                        <input type="text">
                        <input type="text">

                        <h3>Customer Info</h3>
                        <input id="NamePreScreenForm" type="text">
                        <input type="text">
                        <input type="text">
                        <input type="text">
                        <input type="text">
                        <input type="text">

                        <h3>Product</h3>
                        <input type="text">
                        <input type="text">
                        <input type="text">
                    </form>

                </section>

                <section>
                    <h2>Click Options</h2>
                </section>

                <section>
                    <h2>Pre-screen</h2>
                </section>
            </div>

        </main>
    </div>

</body>

</html>