<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unassigned</title>
</head>


<script>

    const GetUnassignedListHandler = (e) => {
        console.log(e.target.innerText)

        if (e.target.innerText === "< Unassigned") {
            document.getElementById("UnassignedContainer").style.display = "none";
            return

        }
        document.getElementById("UnassignedContainer").style.display = "grid";


        $.ajax({
            type: "Get",
            url: '@Url.Action("UnassignedMethod", "Home")',
            success: APIDataMethodSuccess,
        });
    }

    const APIDataMethodSuccess = (result) => {
        console.log("call back result", result);
        UnassignedResult(result);
        return
    }


    const UnassignedResult = (data) => {
        $('#UnassignedList').empty();
        console.log("API Data", data.result)
        $.each(data.result, function (i, v) {
            console.log(i, v.name);

            $(` <li>
                @* Render to user *@
                    <h2 id="NameAPI${i}">${v.name}</h2>
                    <h2 id="ServiceJobNumberAPI${i}">${v.serviceJobNumber}</h2>
                    <h2 id="CityAPI${i}">${v.city}</h2>
                    <button>Assign</button>
                    <button id="${i}" onclick="PreScreenHandler(event)">Pre-screen</button>
                @* Hidden *@
                @* Service Job *@
                    <h2 class="hidden" id="SamsungJobNumberAPI${i}">${v.samsungJobNumber}</h2>
                    <h2 class="hidden" id="InWarrantyAPI${i}">${v.inWarranty}</h2>
                @* Customer Info *@
                    <h2 class="hidden" id="SamsungJobNumberAPI${i}"> ${v.name}</h2>
                    <h2 class="hidden" id="AddressAPI${i}">${v.address}</h2>
                    <h2 class="hidden" id="StateAPI${i}">${v.state}</h2>
                    <h2 class="hidden" id="ZipcodeAPI${i}">${v.zipcode}</h2>
                    <h2 class="hidden" id="PhoneNumberAPI${i}">${v.phoneNumber}</h2>
                    <h2 class="hidden" id="EmailAPI${i}">${v.email}</h2>
                @* Product*@
                    <h2 class="hidden" id="ProductLineAPI${i}">${v.productLine}</h2>
                    <h2 class="hidden" id="ModelNumberAPI${i}">${v.modelNumber}</h2>
                    <h2 class="hidden" id="SerialNumberAPI${i}">${v.serialNumber}</h2>
                @* User Assigned *@
                    <h2 class="hidden" id="TwoManJobAPI${i}">${v.twoManJob}</h2>
                    <h2 class="hidden" id="TechNameAPI${i}">${v.techName}</h2>
                    <h2 class="hidden" id="SANameAPI${i}">${v.sAName}</h2>
                    <h2 class="hidden" id="SecondPersonNameAPI${i}"> ${v.secondPersonName}</h2>
                @* Appoinment info*@
                    <h2 class="hidden" id="AppointmentDayAPI${i}">${v.appointmentDay}</h2>
                    <h2 class="hidden" id="AppointmentTimeAPI${i}">${v.appointmentTime}</h2>
                    <h2 class="hidden" id="AppointmentWindowAPI${i}">${v.appointmentWindow}</h2>
                    <h2 class="hidden" id="SpecialInstructionsAPI${i}">${v.specialInstructions}</h2>
                    <h2 class="hidden" id="NumberOfContactMadeAPI${i}">${v.numberOfContactMade}</h2>
                    <h2 class="hidden" id="NumberOfTimesReschedualAPI${i}"> ${v.numberOfTimesReschedual}</h2>
                @* Markt info*@
                    <h2 class="hidden" id="MarketAPI${i}">${v.market}</h2>
                    <h2 class="hidden" id="MarketCodeAPI${i}">${v.marketCode}</h2>
                @* Job Satus*@
                    <h2 class="hidden" id="ServiceStatusAPI${i}">${v.serviceStatus}</h2>
                    <h2 class="hidden" id="JobStatusAPI${i}">${v.jobStatus}</h2>
                    <h2 class="hidden" id="JobStatusColorAPI${i}"> ${v.jobStatusColor}</h2>
                    <h2 class="hidden" id="ReworkAPI${i}">${v.rework}</h2>
                    <h2 class="hidden" id="ForceBookAPI${i}">${v.forceBook}</h2>
                </li>`).prependTo("#UnassignedList");


        }

        )
    };


    const PreScreenHandler = (e) => {

        console.log(e.target.id);
        if (e.target.innerText === "< Job Details") {
            console.log(e.target)

            document.getElementById("UnassignedContainer").style.display = "grid";
            document.getElementById("PreScreenContainer").style.display = "none"
            return
        }
        if (e.target.innerText === "Pre-screen") {

            console.log("This is the job ID", e.target.id);


            @* Session *@
                let jsonData = {
                    jobStatusId: e.target.id,
                }

            $.ajax({
                type: "POST",
                url: '@Url.Action("JobSelectedMethod", "Home")',
                data: jsonData,
                    @* success: NewJobMethodSuccess, *@
                });

        document.getElementById("UnassignedContainer").style.display = "none";
        document.getElementById("PreScreenContainer").style.display = "grid";

        @* Serive *@
            document.getElementById("ServiceJobNumberPSF").value = document.getElementById("ServiceJobNumberAPI" + e.target.id).innerText;
        document.getElementById("SamsungJobNumberPSF").value = document.getElementById("SamsungJobNumberAPI" + e.target.id).innerText;
        document.getElementById("InWarrantyPSF").value = document.getElementById("InWarrantyAPI" + e.target.id).innerText;

        @* Customer info *@
            document.getElementById("NamePSF").value = document.getElementById("NameAPI" + e.target.id).innerText;
        document.getElementById("AddressPSF").value = document.getElementById("AddressAPI" + e.target.id).innerText;
        document.getElementById("CityPSF").value = document.getElementById("CityAPI" + e.target.id).innerText;
        document.getElementById("StatePSF").value = document.getElementById("StateAPI" + e.target.id).innerText;
        document.getElementById("ZipcodePSF").value = document.getElementById("ZipcodeAPI" + e.target.id).innerText;
        document.getElementById("PhoneNumberPSF").value = document.getElementById("PhoneNumberAPI" + e.target.id).innerText;
        document.getElementById("EmailPSF").value = document.getElementById("EmailAPI" + e.target.id).innerText;
        @* Product *@
            document.getElementById("ProductLinePSF").value = document.getElementById("ProductLineAPI" + e.target.id).innerText;
        document.getElementById("ModelNumberPSF").value = document.getElementById("ModelNumberAPI" + e.target.id).innerText;
        document.getElementById("SerialNumberPSF").value = document.getElementById("SerialNumberAPI" + e.target.id).innerText;
        @* Users Assigned *@
            document.getElementById("TwoManJobPSF").value = document.getElementById("TwoManJobAPI" + e.target.id).innerText;
        document.getElementById("TechNamePSF").value = document.getElementById("TechNameAPI" + e.target.id).innerText;
        document.getElementById("SANamePSF").value = document.getElementById("SANameAPI" + e.target.id).innerText;
        document.getElementById("SecondPersonNamePSF").value = document.getElementById("SecondPersonNameAPI" + e.target.id).innerText;
        @* Appoinment Info *@
            document.getElementById("AppointmentDayPSF").value = document.getElementById("AppointmentDayAPI" + e.target.id).innerText;
        document.getElementById("AppointmentTimePSF").value = document.getElementById("AppointmentTimeAPI" + e.target.id).innerText;
        document.getElementById("AppointmentWindowPSF").value = document.getElementById("AppointmentWindowAPI" + e.target.id).innerText;
        document.getElementById("SpecialInstructionsPSF").value = document.getElementById("SpecialInstructionsAPI" + e.target.id).innerText;
        document.getElementById("NumberOfContactMadePSF").value = document.getElementById("NumberOfContactMadeAPI" + e.target.id).innerText;
        document.getElementById("NumberOfTimesReschedualPSF").value = document.getElementById("NumberOfTimesReschedualAPI" + e.target.id).innerText;
        @* Market Info *@
            document.getElementById("MarketPSF").value = document.getElementById("MarketAPI" + e.target.id).innerText;
        document.getElementById("MarketCodePSF").value = document.getElementById("MarketCodeAPI" + e.target.id).innerText;
        @* Job Status *@
            document.getElementById("ServiceStatusPSF").value = document.getElementById("ServiceStatusAPI" + e.target.id).innerText;
        document.getElementById("JobStatusPSF").value = document.getElementById("JobStatusAPI" + e.target.id).innerText;
        document.getElementById("JobStatusColorPSF").value = document.getElementById("JobStatusColorAPI" + e.target.id).innerText;
        document.getElementById("ReworkPSF").value = document.getElementById("ReworkAPI" + e.target.id).innerText;
        document.getElementById("ForceBookPSF").value = document.getElementById("ForceBookAPI" + e.target.id).innerText;







        console.log(name)
        return
    }

    }

</script>

<body>
    <div id="UnassignedContainer" class="Unassigned-Container">

        <main>
            <h1 onclick="GetUnassignedListHandler(event)">&#60; Unassigned</h1>
            <header>
                <h2>Customer</h2>
                <h2>Job Number</h2>
                <h2>City</h2>
                <h2>Options</h2>
            </header>
            <ul id="UnassignedList">
                <li>Customer</li>


            </ul>
        </main>
    </div>



</body>

</html>