<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script async>


        const JobStatusUpdateHandler = (e) => {
            if (e.target.id === "DisplayJobStatus") {



                document.getElementById("JobStatusContainer").style.display = "grid"

                $.get("/AllJobStatusMethod", data => {
                    console.log("getting jobs Data:", data)
                    RenderJobStatusOptions(data);
                    return

                });

            } else {
                console.log(e.target.id, "Color")
                console.log(e.target.innerText, "Job Status text")

                let jsonData = {
                    jobStatusColor: e.target.id,
                    jobStatus: e.target.innerText,
                }

                $.ajax({
                    type: "Post",
                    url: '@Url.Action("UpdateJobStatusMethod", "Home")',
                    data: jsonData,
            @* success: APIDataMethodSuccess, *@
        });
            console.log("Data", jsonData)
            document.getElementById("JobStatusContainer").style.display = "none"

        }



        }

        const RenderJobStatusOptions = (data) => {
            $('#DisplayJobStatusOptions').empty();
            console.log("API Data", data.result)
            $.each(data.result, function (i, v) {
                console.log(i, v.status);

                $(`


                    <li>
                        <div class="JobStatusIcon"  style="background-color: #${v.statusColor};"></div>
                        <h3 id="${v.statusColor}"  onclick="JobStatusUpdateHandler(event)"> ${v.status}</h3>
                    </li>





            `).prependTo("#DisplayJobStatusOptions");

            })
        };
    </script>
</head>

<body>

    <div class="JobStatus-Container" id="JobStatusContainer">
        <ul id="DisplayJobStatusOptions"></ul>


    </div>



</body>

</html>