<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Commponent</title>


    <script>

        const JobSearchMethodSuccess = (result) => {
            console.log("Search Results", result);
            RenderNewJobResult(result);

        }

        const JobSearchHandlerTest = (e) => {
            e.preventDefault();
            let UserSearch = document.getElementById("SearchInput").value
            console.log("running jobSearchHandler", UserSearch)
            console.log(typeof (UserSearch));

            let jsonData = {
                serviceJobNumber: UserSearch,
                phoneNumber: UserSearch,
            }

            $.ajax({
                type: "Get",
                url: '@Url.Action("JobSearchMethod", "Home")',
                data: jsonData,
                success: JobSearchMethodSuccess,
            });
            return
        }




    </script>
</head>


<body>
    <div class="Search-Container">
        <form>
            <input id="SearchInput" type="text" placeholder="search">
            <button type="submit" onclick="JobSearchHandlerTest(event)">Search</button>
            @* <button onclick="GetFiltertHandler(event)">Filter</button> *@

        </form>


    </div>
</body>

</html>