<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<script>

    const RenderJobStatusFilter = (data) => {
        $('#DisplayJobStatusFilter').empty();
        console.log("API Data", data.result)
        $.each(data.result, function (i, v) {
            console.log(i, v.status);

            $(`
                    <li>
                        <div class="JobStatusIcon"  style="background-color: #${v.statusColor};"></div>
                        <h3 id="${v.statusColor}"  onclick="JobStatusFilterHandler(event)"> ${v.status}</h3>
                    </li>

            `).prependTo("#DisplayJobStatusFilter");

        })
    };

    const JobStatusFilterHandler = (e) => {
        document.getElementById("JobStatusFilterContainer").style.display = "none";
        $.ajax({
            type: "Post",
            url: '@Url.Action("JobStatusFilterMethod", "Home")',
            @* data: jsonData, *@
            @* success: UpdateJobStatusMethodSuccess, *@
                });


    }


</script>

<body>
    <div class="JobStatusFilter-Container" id="JobStatusFilterContainer">

        <ul id="DisplayJobStatusFilter"></ul>

    </div>
</body>

</html>