<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User in the market</title>
    <script>

        const AssignUserToJobHandlerSuccess = (result) =>{
            console.log("User in market", result);
            document.getElementById("UserInMarketContainer").style.display = "none"

        };
        const RenderUserInMarket = (data) => {
            console.log("This is the user in market that will be reanding", data.result);
            $('#DisplayUserInMarket').empty();

            $.each(data.result, function (i, v) {
                console.log(i, v.notes);

                $(`
                    <li>
                        <button  onclick="AssignUserToJobHandler(event)" id="${v.firstName}.${v.lastName}">Assign</button>
                        <h2>${v.firstName} ${v.lastName}</h2>
                    </li>


                    `).prependTo("#DisplayUserInMarket");
            })
        };

        const AssignUserToJobHandler = (e) => {
            console.log("Assigned button was click", e.target.id);

            let jsonData ={
                serviceAdvocateName: e.target.id,
            };
            console.log("JsonData Assigned user", jsonData);

            $.ajax({
            type: "Post",
            url: '@Url.Action("AssignUserToJobMethod", "Home")',
            data: jsonData,
            success: AssignUserToJobHandlerSuccess,
        });

        };

    </script>
</head>

<body>
    <div class="UserInMarket-Container" id="UserInMarketContainer">

        <main>
            <header>
                <h1 id="UsersMarket">Select a user</h1>
            </header>
            <ul id="DisplayUserInMarket"></ul>
        </main>
    </div>
</body>

</html>