.CommandCenter-Container{
    display: grid;
    grid-template-rows: 200px;
    background: whitesmoke;
    padding: 20px;
    height: 100vh;
    justify-content: flex-start;
}

.CommandCenter-Container header{
    padding-bottom: 20px;
}
.CommandCenter-Container header nav ul {
    display: flex;
    column-gap: 10px;
}

.CommandCenter-Container>main{
    display: grid;
    row-gap: 20px;
}

.CommandCenter-Container form{
    width: 25em;
}


.CommandCenter-Container main form button{
    background: #9062AF;
    color: white;
}



.FormMarket aside ul li{
    display: flex;
    column-gap: 10px;
}