body{
    display: grid;
}

.AdminDashboard-Container form{
    display: grid;
    max-width: 35em;
}

.AdminDashboard-Container button{max-width: 100px;}


.AdminDashboard-Container main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    overflow: scroll;
    background: whitesmoke;
    padding: 20px;

}
