body{
    margin: 0;
    background: linear-gradient( #9062af62,#1c8c9b78);
    height: 100vh;
    overflow: hidden;
    
}
.Unassigned-Container, .PreScreen-Container{
    background: rgba(0, 0, 0, 0.699);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* justify-content: center; */


}
.Unassigned-Container>main, .PreScreen-Container>main{
    background: white;
    margin: 30px 30px 0px 30px;
    padding: 20px 40px;
    border-radius: 10px 10px  0 0;
}

.hidden{
    display: none;
}




.Unassigned-Container>main header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  150px 150px;
}

.Unassigned-Container>main ul{
    display: grid;
    row-gap: 10px;

}

.Unassigned-Container>main ul li{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 150px 150px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.402);
    padding: 10px;
    border-radius: 5px;
    align-items: center;

}

.Unassigned-Container>main ul li button{
    width: 120px;
    background: white;
    color: #6900D1;
    border: solid 1px #6900D1;
    height: 40px;

}

.Unassigned-Container>main ul li h2{
    font: 1em sans-serif;
}


.PreScreenLayout{
    height: 95vh;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    column-gap: 20px;
}

.PreScreenLayout h2{
    padding-bottom: 20px;
}
.PreScreenLayout form{
    display: grid;
    row-gap: 10px;
}

.PreScreenLayout form input{
    height: 30px;
}

.PreScreenQuestions  ul{
    display: grid;
    row-gap: 20px;
}


.PreScreenQuestions  ul li{
    display:  grid;
    grid-template-columns: 30px 1fr;
    column-gap: 10px;
    align-items: center;
}

#span2{
    grid-row: 2/3;
    grid-column: 1/3;    
}

.PreScreenQuestions ul li>input{
    height: 20px;
    width: 20px;
    
}
.PreScreenQuestions ul li h3{
    font: 1.3em sans-serif;
}

.PreScreenQuestions ul aside{
    padding: 5px;
    height: 100px;
}

.PreScreenQuestions ul aside textarea{
    height: 100px;
    width: 100%;
    text-align: left;
}

.PreScreenQuestions ul footer{
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 20px;

}
.PreScreenQuestions ul footer button{
    height: 50px;
    width: 150px;
}


/* All jobs */

.AllJobs-Container{
    display: grid;
    grid-template-columns: 24em 2fr 1.1fr;
}


#JobContentContainer{
    display:  none;
}

.AllJobs-Container>main{
    display: grid;
    row-gap: 5px;
    align-content: flex-start;
    background: white;
    /* padding: 0 40px; */
    padding-left: 40px;
    padding-top: 20px;
    margin-left: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.402);
    border-radius: 7px 0px 0 0;
    margin-top: -35px;
    


}




.AllJobs-Container>ul {
    display: grid;
    row-gap: 10px;
    padding: 20px;
    padding-right: 0;
    /* align-items: flex-start; */
    align-content: flex-start;
    height: 90vh;
    overflow: scroll;
    overflow-y: scroll;
    justify-items: flex-end;
    

}

.AllJobs-Container>ul li{
    display: grid;
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    min-height: 150px;
    align-content: flex-start;
    border: solid rgb(177, 177, 177) 1px;
}

.AllJobs-Container ul::-webkit-scrollbar, .AllJobs-Container aside::-webkit-scrollbar {
    display: none;
    width: 0;
}


.JobStatusDotIcon{
    height: 15px;
    width: 15px;
    border-radius: 15px;
}

.AllJobs-Container>ul li header{
    display: flex;
    column-gap: 10px;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    grid-row: 1/2;
    grid-column: 1/2;
    
}

.AllJobs-Container>ul li header p{
    display: none;
}

.AllJobs-Container>ul li button{
    border: none;
    background: none;
    margin: -15px;
    grid-row: 1/3;
    grid-column: 1/2;
    max-width: none;
    box-shadow: none;


}

.AllJobs-Container>ul li main{
    /* background: gold; */
    height: 120px;
    grid-row: 2/3;
    grid-column: 1/2;
}

.AllJobs-Container>ul li h1{
    font: 1em sans-serif;
    padding-bottom: 5px;

}

.AllJobs-Container>ul li h2{
    font: 1em sans-serif;

}

/* comments container */

.AllJobs-Container>aside{
    display: grid;
    align-content: flex-start;
    padding-top: 20px;
    /* box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.402); */
    padding-bottom: 0;
    height: 100vh;
    overflow: scroll;
    margin-right: 10px;
    border-radius: 0 7px 0 0;
    background: white;
    margin-top: -35px;
    padding-right: 40px;
}




.AllJobs-Container>aside form textarea{
    height: 20px;
    align-self: flex-start;
    padding: 7px;
    display: none;
}

.AllJobs-Container>aside form footer{
    display: flex;
    column-gap: 3px;
  
}


.AllJobs-Container>aside form footer button:first-of-type {
    color: #1c8c9b;
    /* background: linear-gradient(to right, #9062AF,#1C8C9B); */
    width: 120px;
    background: #1c8c9b;
    box-shadow: none;
    color: white;
}

.AllJobs-Container>aside form footer button:last-of-type{
    background: none;
    box-shadow: none;
    color: gray;
}

.AllJobs-Container>aside ul {
    display: grid;
    row-gap: 3px;
    align-content: flex-start;
    padding: 2px;
    /* max-width: 350px;    */
    overflow: scroll; 
    overflow-y: scroll;
    height: 85vh;
}

.AllJobs-Container>aside ul li{
    background: white;
    padding-bottom: 20px;
    /* min-height: 150px;
    max-height: 340px;
    overflow: scroll; */

}

.AllJobs-Container>aside ul li header{
    border-bottom: solid 1px rgb(144, 144, 144);
    margin-bottom: 5px;
}
.AllJobs-Container>aside ul li header h1{
    font: 1em sans-serif;
    color: black;
    /* text-decoration: underline; */
}
.AllJobs-Container>aside ul li main{
    row-gap: 3px;
}

.AllJobs-Container>aside ul li main p{
    font: 1em sans-serif;
    line-height: 20px;
}

.AllJobs-Container>aside ul li main i{
    font: .8em sans-serif;
    cursor: pointer;
    color: grey;
    
}

.AllJobs-Container>aside ul li footer h1{
    font: 1em sans-serif;
    font-weight: 100;
}



#CommentSaveBTN{
    display: none;
}


#CommentCancelBTN{
    display: none;
}


