form{
    display: grid;
}

ul{
    list-style: none;
}

form{
    display: grid;
    row-gap: 10px;
}

label{
    display: none;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2, h3{
    padding: 0;
    margin: 0;
}
