body{
    background:  whitesmoke;
    display: grid;
    row-gap: 20px;
    margin: 0;
    padding: 40px;
    
}

#RegForm{
    display: none;
}



ul{
    list-style: none;
}

form{display: grid;}

label{
    display: none;
}


